body{
    margin: 0px;
    padding: 0px;
}

.sastojci{
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.uputstvo{
    color:tomato;
    font-weight: bold;
}

#koraci{
    background-color: tomato;
    margin: 20px 10px;
}

#sastojci{
    background-color: purple;
    margin: 20px 10px;
}

.opis{
    text-align: center;
    background-color: green;
    margin: 20px 10px;
}

.opis.naslov{
    background-color: white;
}

#strana{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
    margin: 0px 0px 20px;
}

.slika{
    display: block;
    margin: auto;
    width: 25%;
    height: auto;
}

a{
    margin: 20px 10px;
}